*.pyc


/GLPyModule/**/*.pyc
/GLPyModule/**/*.psd
/GLPyModule/**/*.gz
/GLPyModule/**/*.npy
/GLPyModule/**/*.rar
/GLPyModule/**/*.xlsx
/GLPyModule/**/*.pkl
/GLPyModule/**/*.doc
/GLPyModule/**/*.docx
/GLPyModule/**/*.db
/GLPyModule/**/*.pth
/GLPyModule/**/*.autosave
/GLPyModule/**/*.log
/GLPyModule/**/*.dcm
/GLPyModule/**/*.mrb
/GLPyModule/**/*.sql
/GLPyModule/**/Med3D_PGuide.exe
/GLPyModule/**/pandoc.exe

/lib/Python/**/*.pyc

/GLPyModule/**/Med3D.exe
/GLPyModule/**/img_tmp_path/*
/lib/Python/Lib/site-packages/zipp/compat/__pycache__/*.pyc
/bin/tmp/*.log
/bin/tmp
/GLPyModule/RExtension/RequestStatusExtension/Release/opencv_world420.dll
/GLPyModule/RExtension/RequestStatusExtension/Release/opencv_world420d.dll
GLPyModule/.vscode/settings.json
NA-MIC/Slicer-3143.ini
/NA-MIC/Slicer.ini
/RequestStatusExtension/RequestStatus/UltraSDK
/GLPyModule/UltraSDK
/RequestStatusExtension/release/
/NA-MIC/
